@charset "utf-8";
/* CSS Document */
.header{
	
	border-style: solid;
	height: 150px;
	font-family: "2  Nazanin";
	text-align: center;
	font-size: 40px;
		
		
}
.center{
	border-style: solid;
	
	height: 500px;
	
	margin-top: 10px;
	text-align: right;
	font-family: "2  Nazanin";
	font-size: 30px;
	
	
		
}

	
	
	
	
	
	

.footer{
	border-style: solid;
	
	height: 150px;
	margin-top: 10px;
	font-size: 30px;
	font-family: "2  Nazanin";
	text-align: right;
	
}
